<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/styles/styles.css" />

    <!-- Import Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Bugtracker</title>

    <!-- SCRIPT -->
    <script>
      document.onreadystatechange = () => {
        if (document.readyState === "interactive") {
          document.getElementById("userAgent").value =
            window.navigator.userAgent;

          document.getElementById("userDate").value = new Date();
        }
      };
    </script>
  </head>
  <body>
    <nav class="menu navbar">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/img/bugtracker.png" height="50" alt="bugtracker" />
        </a>
      </div>
    </nav>

    <div class="container">
      <div class="alert alert-success mt-5" role="alert">
        Seu problema foi reportado com sucesso
        <a href="/">Voltar a reportar</a>
      </div>
    </div>
  </body>
</html>
